@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'DM Sans', sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

button,
input {
    font-family: 'DM Sans', sans-serif;
}

.container {
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.dashboard-wrapper {
    margin-top: 100px;
}

.dashboard-block {
    width: 100%;
    background-color: #fff;
    padding: 30px;
    display: flex;
}

.movieList {
    max-width: 600px;
    width: 100%;
    margin-right: 20px;
    margin-bottom: 5px;
}

.movieList:last-child {
    margin-bottom: 0;
}

.movieList input {
    width: 100%;
    height: 48px;
    padding: 5px 15px;
    line-height: 43px;
    font-size: 14px;
    border: 2px solid #979797;
    border-radius: 0;
}

.movieList input::placeholder {
    color: #8F92A1;
}

.movieList input:focus,
.btn-drp:focus {
    outline: none;
    box-shadow: none;
}

.btn-drp {
    width: 113px;
    height: 48px;
    background-color: #fff;
    border: 2px solid #979797;
    border-radius: 0;
    font-size: 14px;
    color: #171717;
    padding: 5px 15px;
    margin-right: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.list-wrapper {
    padding: 15px;
    border: 1px solid #979797;
    margin-top: 5px;
}

.movieList h5 {
    font-size: 14px;
    color: #000;
    font-weight: 600;
    margin: 0;
}

.star-container {
    padding: 0!important;
    margin-right: 5px;
}

.star-container svg {
    width: 16px!important;
    height: 16px!important;
}

.movielist {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category {
    display: flex;
}

.category p {
    font-size: 14px;
    color: #777;
    text-transform: capitalize;
    font-weight: 500;
}

.drp-rating {
    overflow: visible;
    width: 130px;
}

.drp-rating .list-wrapper {
    width: 243px;
    padding: 8px 5px;
}

.drp-genre .list-wrapper {
    padding: 8px 5px;
}

.checkbox {
    margin: 0;
    margin-right: 5px;
}

.genre-wrap label {
    margin-left: 5px;
    font-size: 14px;
    display: inline-block;
    position: relative;
    top: -2px;
}

.btn-drp img {
    max-width: 12px;
}